body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;

	h1 {

	}

	h2 {

	}

	h3 { 
		font-size: 1.3em;
		margin-bottom: 10px;
	}

	h4 {

	}

	a, a:visited {
		color: $aquaGreen;
	}

	a:hover {
		color: $aquaGreen;
		text-decoration: underline;
	}

}