 section.billboard-program {
	
	.background {
		text-align: center;
		background: $darkBlue;
	}

	.bill-text {
	    position: absolute;
	    top: 300px;
	    color: $white;
	    z-index: 200;
	}

	h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}

	.main-caption {
		display: block;
	    font-size: 24px;
	    font-weight: 100;
	    margin: 0 0 20px;
	}

	a.btn {
		display: inline-block;
	}

	.post-meta-key {
		display: none;
	}
}

.modify .main-program {
	bottom: 150px;
    position: relative;
}

.modify span.icon-arrow-down {
	display: none;
}

span.icon-arrow-down {
	color: $aquaGreen;
	font-size: 36px;
	display: block;
	margin-top: 25px;
}

// .modify .main-program h1 {
// 	opacity: 1;
// 	-webkit-transition: all 0.5s ease;
//     -moz-transition: all 0.5s ease;
//     -o-transition: all 0.5s ease;
//     transition: all 0.5s ease;
// }

// .main-program h1 {
// 	opacity: 0;
// 	-webkit-transition: all 0.5s ease;
//     -moz-transition: all 0.5s ease;
//     -o-transition: all 0.5s ease;
//     transition: all 0.5s ease;
// }

section.main-program {

	h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		color: $blueBlue;
	}

	.main-p {
		font-size: 20px;
		color: $gray;
		line-height: 30px;
		font-weight: 100;
	}

	.accordion-sec {
		color: $gray;

		.collap-info {
			padding-left: 20px;
			margin-top: 10px;
		}

		.collapse-item {
		    border-bottom: 1px solid #cecece;
		    padding: 8px 0;
		  
		}

		h2 {
			margin-bottom: 10px;
		}

		h4 {
			color: $aquaGreen;
			font-size: 16px;
			text-transform: uppercase;
			cursor: pointer;
		}

		h5 {
			font-weight: 600;
		}

		p {
			margin-bottom: 10px;
		}

		span.sub-title {
			font-size: 16px;
			display: block;
			margin-bottom: 10px;
		}
	}

	.text {
		p {
			margin-bottom: 20px;
		}

		span.icon-info {
			color: #999999;
			margin-right: 5px;
			font-size: 16px;
			vertical-align: top;
		}

		span.icon-warning {
			color: #BB2620;
			margin-right: 5px;
		}
	}

	.sidebar {
		background: #F9F9F9;
		padding: 40px 20px;

		h5 {
			color: $blueBlue;
			font-weight: 700;
			font-family: 1em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		ul {
			margin-bottom: 40px;

			li {
				margin-bottom: 5px;
			}
		}

		p {
			line-height: 24px;
		}
	}
}

//Form
.apply-container.tac {

	h2 {
		font-size: 1.8em;
	}

	.contact-form {
		form {
			p {
				display: inline-block;
				vertical-align: bottom;
				padding-right: 5px;
				width: auto;

				input {
					background: $white;
					border: none;
					color: $darkGray;
					padding: 14px;
					font-size: 12px;
					width: auto;
				}

				input[type="submit"] {
					background-color: $aquaGreen;
				    margin-top: 10px;
				    padding: 10px 30px;
				    text-transform: uppercase;
				    transition: background-color 0.5s ease 0s;
				    width: auto;
				    color: $white;
				    font-size: 1.3em;
				}

				input[type="submit"]:hover {
					background-color: #0f8684;
	    			color: white;
	    			text-decoration: none;
    			}
			}
		}
	}
}

//Sidebar icons...
.col-sm-4 {
	.sidebar {
		ul {
			li {
				span {
					color: $blueBlue;
					color: #035493;
				    display: inline-block;
				    font-size: 12px;
				    padding-right: 9px;
				    text-align: center;
				    width: 27px;
				}

			}
		}
	}
}

//Image slider..
