 section.billboard-program {
	
	.background {
		text-align: center;
		background: $darkBlue;
		/*height: 100vh;

		img {
			min-height: 100%;
		}*/
	}

	.bill-text {
	    position: absolute;
	    top: 250px;
	    color: $white;
	}

	h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}

	.main-caption {
		display: block;
	    font-size: 24px;
	    font-weight: 100;
	    margin: 0 0 20px;
	}

	a.btn {
		display: inline-block;
	}

	.post-meta-key {
		display: none;
	}
}

section.main-program {
	h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		color: $blueBlue;
	}
	.main-p {
		font-size: 20px;
		color: $gray;
		line-height: 30px;
		font-weight: 100;
	}

	.accordion-sec {
		color: $gray;

		.collap-info {
			padding-left: 20px;
			margin-top: 10px;
		}

		.collapse-item {
		    border-bottom: 1px solid #cecece;
		    padding: 8px 0;
		  
		}

		h2 {
			margin-bottom: 10px;
		}

		h4 {
			color: $aquaGreen;
			font-size: 16px;
			text-transform: uppercase;
			cursor: pointer;
		}

		h5 {
			font-weight: 600;
		}

		p {
			margin-bottom: 10px;
		}

		span.sub-title {
			font-size: 16px;
			display: block;
			margin-bottom: 10px;
		}
	}

	.text {
		p {
			margin-bottom: 20px;
		}

		span.icon-info {
			color: #999999;
			margin-right: 5px;
			font-size: 16px;
			vertical-align: top;
		}

		span.icon-warning {
			color: #BB2620;
			margin-right: 5px;
		}
	}

	.sidebar {
		background: #F9F9F9;
		padding: 40px 20px;

		h5 {
			color: $blueBlue;
			font-weight: 700;
			font-family: 1em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		ul {
			margin-bottom: 40px;

			li {
				margin-bottom: 5px;
			}
		}

		p {
			line-height: 24px;
		}
	}
}

//Form
.apply-container.tac {

	h2 {
		font-size: 1.8em;
	}

	.contact-form {
		form {
			p {
				display: inline-block;
				vertical-align: bottom;
				padding-right: 5px;
				width: auto;

				input {
					background: $white;
					border: none;
					color: $darkGray;
					padding: 14px;
					font-size: 12px;
					width: auto;
				}

				input[type="submit"] {
					background-color: $aquaGreen;
				    margin-top: 10px;
				    padding: 10px 30px;
				    text-transform: uppercase;
				    transition: background-color 0.5s ease 0s;
				    width: auto;
				    color: $white;
				    font-size: 1.3em;
				}

				input[type="submit"]:hover {
					background-color: #0f8684;
	    			color: white;
	    			text-decoration: none;
    			}
			}
		}

		.invalid {
			input[type="submit"] {
				position: relative;
				bottom: 20px;
			}
		}
	}
}

//Sidebar icons...
.col-sm-4 {
	.sidebar {
		ul {
			li {
				span {
					color: $blueBlue;
					color: #035493;
				    display: inline-block;
				    font-size: 12px;
				    padding-right: 9px;
				    text-align: center;
				    width: 27px;
				}

			}
		}
	}
}

//Image slider..
.contentimgtxt {
	position: relative;
	min-height: 378px;

	p {
		position: absolute;
		top: 2px;
		right: 2px;
		font-family: 'Merriweather';
		font-size: 20px;
		color: $white;
		font-weight: 600;
		text-align: center;
		padding: 0px 60px;
		top: 35%;

		span {
			display: block;
			font-family: 'Open Sans';
			font-weight: 700;
			text-transform: uppercase;
			padding-top: 30px;
		}
	}
}

.left-video .contentimgtxt, .right-video .contentimgtxt {
	p {
		color: #D7D7D7;
	}
}

.video-slider {
	.center-video a.bx-next, .center-video a.bx-prev {
    	color: $aquaGreen;
	}
}

#it-s {
	font-style: italic;
}



