//*** Colors *** //
$white: #ffffff;

$darkGray: #222222;
$gray: #444444;
$lightGray: #F0F0F0;

$darkBlue: #01325D;
$blue: #004e92;
$blueBlue: #035493;

$aquaGreen: #14a8a6;
$darkAqua: #0F8684;

$lightgrey: #999;
$fortGray: #979797;

// Buttons...
.btn, .btn:visited {
	background-color: $aquaGreen;
	text-decoration: none;
	padding: 10px 25px;
	color: $white;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.btn:hover {
	background-color: $darkAqua;
	color: $white;
	text-decoration: none;
}

// Helpers...

.tac { text-align: center !important; }
.pr5 { padding-right: 5px !important; }
.pl5 { padding-left: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pt50 { padding-top: 50px !important; }
.pb50 { padding-bottom: 50px !important; }
.in-middle-box {
    float: none !important;
    margin: 0 auto !important;
    overflow: auto !important;
}

.pr0{ padding-right: 0 !important;}
.pl0{ padding-left: 0 !important;}

.mt20 { margin-top: 20px !important;}
.mb20 { margin-bottom: 20px !important;}

/*---------------*/
/***** Zoe *****/
/*---------------*/
figure.effect-zoe {
	position: relative;
	z-index: 200;

	> span {
	    display: block;
	    position: absolute;
	    top: 45%;
	    color: $white;
	    font-size: 16px;
	    font-weight: 700;
	    text-transform: uppercase;
	    text-align: center;
	    width: 100%;
	}    
}

figure.effect-zoe figcaption {
	position: absolute;
	width: 100%;

	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #F5F5F5;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe figcaption > span {
	float: right;
}

figure.effect-zoe p {
	left: 5em;

	position: absolute;
	bottom: 6em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-zoe h2,
figure.effect-zoe figcaption > span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe figcaption > span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/*--------------------*/
/***** Font icons *****/
/*--------------------*/

@font-face {
	font-family: 'icomoon';
	src:url('/wp-content/themes/road2argentina-child/fonts/icomoon.eot?i3adoa');
	src:url('/wp-content/themes/road2argentina-child/fonts/icomoon.eot?#iefixi3adoa') format('embedded-opentype'),
		url('/wp-content/themes/road2argentina-child/fonts/icomoon.woff?i3adoa') format('woff'),
		url('/wp-content/themes/road2argentina-child/fonts/icomoon.ttf?i3adoa') format('truetype'),
		url('/wp-content/themes/road2argentina-child/fonts/icomoon.svg?i3adoa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-airport:before {
	content: "\e609";
}
.icon-arrow-down:before {
	content: "\e60a";
}
.icon-arrow-left:before {
	content: "\e60b";
}
.icon-arrow-right:before {
	content: "\e60c";
}
.icon-cell:before {
	content: "\e60d";
}
.icon-diner:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-google:before {
	content: "\e611";
}
.icon-group:before {
	content: "\e612";
}
.icon-housing:before {
	content: "\e613";
}
.icon-info:before {
	content: "\e614";
}
.icon-luggage:before {
	content: "\e615";
}
.icon-mail:before {
	content: "\e616";
}
.icon-menos:before {
	content: "\e617";
}
.icon-more:before {
	content: "\e618";
}
.icon-simple-arrow-left:before {
	content: "\e619";
}
.icon-simple-arrow-right:before {
	content: "\e61a";
}
.icon-thick:before {
	content: "\e61b";
}
.icon-triangle:before {
	content: "\e61c";
}
.icon-twitter:before {
	content: "\e61d";
}
.icon-user:before {
	content: "\e61e";
}
.icon-warning:before {
	content: "\e61f";
}
.icon-world:before {
	content: "\e620";
}
.icon-visit-site:before {
	content: "\e602";
}
.icon-bullet:before {
	content: "\e607";
}
.icon-arrow:before {
	content: "\e608";
}
.icon-svg:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e603";
}
.icon-group2:before {
	content: "\e604";
}
.icon-chat:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e600";
}