/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/_variables.scss */
.btn, .btn:visited {
  background-color: #14a8a6;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/* line 32, ../sass/_variables.scss */
.btn:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}

/* line 40, ../sass/_variables.scss */
.tac {
  text-align: center !important;
}

/* line 41, ../sass/_variables.scss */
.pr5 {
  padding-right: 5px !important;
}

/* line 42, ../sass/_variables.scss */
.pl5 {
  padding-left: 5px !important;
}

/* line 43, ../sass/_variables.scss */
.pb10 {
  padding-bottom: 10px !important;
}

/* line 44, ../sass/_variables.scss */
.pb20 {
  padding-bottom: 20px !important;
}

/* line 45, ../sass/_variables.scss */
.pb30 {
  padding-bottom: 30px !important;
}

/* line 46, ../sass/_variables.scss */
.pt30 {
  padding-top: 30px !important;
}

/* line 47, ../sass/_variables.scss */
.pt50 {
  padding-top: 50px !important;
}

/* line 48, ../sass/_variables.scss */
.pb50 {
  padding-bottom: 50px !important;
}

/* line 49, ../sass/_variables.scss */
.in-middle-box {
  float: none !important;
  margin: 0 auto !important;
  overflow: auto !important;
}

/* line 55, ../sass/_variables.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 56, ../sass/_variables.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 58, ../sass/_variables.scss */
.mt20 {
  margin-top: 20px !important;
}

/* line 59, ../sass/_variables.scss */
.mb20 {
  margin-bottom: 20px !important;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/
/* line 64, ../sass/_variables.scss */
figure.effect-zoe {
  position: relative;
  z-index: 200;
}
/* line 68, ../sass/_variables.scss */
figure.effect-zoe > span {
  display: block;
  position: absolute;
  top: 45%;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

/* line 81, ../sass/_variables.scss */
figure.effect-zoe figcaption {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #F5F5F5;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 97, ../sass/_variables.scss */
figure.effect-zoe h2 {
  float: left;
}

/* line 101, ../sass/_variables.scss */
figure.effect-zoe figcaption > span {
  float: right;
}

/* line 105, ../sass/_variables.scss */
figure.effect-zoe p {
  left: 5em;
  position: absolute;
  bottom: 6em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 120, ../sass/_variables.scss */
figure.effect-zoe h2,
figure.effect-zoe figcaption > span {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

/* line 127, ../sass/_variables.scss */
figure.effect-zoe figcaption > span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 136, ../sass/_variables.scss */
figure.effect-zoe h2 {
  display: inline-block;
}

/* line 140, ../sass/_variables.scss */
figure.effect-zoe:hover p {
  opacity: 1;
}

/* line 146, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 151, ../sass/_variables.scss */
figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 156, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 161, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 166, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*--------------------*/
/***** Font icons *****/
/*--------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("/wp-content/themes/road2argentina-child/fonts/icomoon.eot?i3adoa");
  src: url("/wp-content/themes/road2argentina-child/fonts/icomoon.eot?#iefixi3adoa") format("embedded-opentype"), url("/wp-content/themes/road2argentina-child/fonts/icomoon.woff?i3adoa") format("woff"), url("/wp-content/themes/road2argentina-child/fonts/icomoon.ttf?i3adoa") format("truetype"), url("/wp-content/themes/road2argentina-child/fonts/icomoon.svg?i3adoa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 187, ../sass/_variables.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 201, ../sass/_variables.scss */
.icon-airport:before {
  content: "\e609";
}

/* line 204, ../sass/_variables.scss */
.icon-arrow-down:before {
  content: "\e60a";
}

/* line 207, ../sass/_variables.scss */
.icon-arrow-left:before {
  content: "\e60b";
}

/* line 210, ../sass/_variables.scss */
.icon-arrow-right:before {
  content: "\e60c";
}

/* line 213, ../sass/_variables.scss */
.icon-cell:before {
  content: "\e60d";
}

/* line 216, ../sass/_variables.scss */
.icon-diner:before {
  content: "\e60e";
}

/* line 219, ../sass/_variables.scss */
.icon-envelope:before {
  content: "\e60f";
}

/* line 222, ../sass/_variables.scss */
.icon-facebook:before {
  content: "\e610";
}

/* line 225, ../sass/_variables.scss */
.icon-google:before {
  content: "\e611";
}

/* line 228, ../sass/_variables.scss */
.icon-group:before {
  content: "\e612";
}

/* line 231, ../sass/_variables.scss */
.icon-housing:before {
  content: "\e613";
}

/* line 234, ../sass/_variables.scss */
.icon-info:before {
  content: "\e614";
}

/* line 237, ../sass/_variables.scss */
.icon-luggage:before {
  content: "\e615";
}

/* line 240, ../sass/_variables.scss */
.icon-mail:before {
  content: "\e616";
}

/* line 243, ../sass/_variables.scss */
.icon-menos:before {
  content: "\e617";
}

/* line 246, ../sass/_variables.scss */
.icon-more:before {
  content: "\e618";
}

/* line 249, ../sass/_variables.scss */
.icon-simple-arrow-left:before {
  content: "\e619";
}

/* line 252, ../sass/_variables.scss */
.icon-simple-arrow-right:before {
  content: "\e61a";
}

/* line 255, ../sass/_variables.scss */
.icon-thick:before {
  content: "\e61b";
}

/* line 258, ../sass/_variables.scss */
.icon-triangle:before {
  content: "\e61c";
}

/* line 261, ../sass/_variables.scss */
.icon-twitter:before {
  content: "\e61d";
}

/* line 264, ../sass/_variables.scss */
.icon-user:before {
  content: "\e61e";
}

/* line 267, ../sass/_variables.scss */
.icon-warning:before {
  content: "\e61f";
}

/* line 270, ../sass/_variables.scss */
.icon-world:before {
  content: "\e620";
}

/* line 273, ../sass/_variables.scss */
.icon-visit-site:before {
  content: "\e602";
}

/* line 276, ../sass/_variables.scss */
.icon-bullet:before {
  content: "\e607";
}

/* line 279, ../sass/_variables.scss */
.icon-arrow:before {
  content: "\e608";
}

/* line 282, ../sass/_variables.scss */
.icon-svg:before {
  content: "\e601";
}

/* line 285, ../sass/_variables.scss */
.icon-calendar:before {
  content: "\e603";
}

/* line 288, ../sass/_variables.scss */
.icon-group2:before {
  content: "\e604";
}

/* line 291, ../sass/_variables.scss */
.icon-chat:before {
  content: "\e605";
}

/* line 294, ../sass/_variables.scss */
.icon-location:before {
  content: "\e600";
}

/* line 1, ../sass/_header.scss */
header {
  position: relative;
  /* Dropdown Menu DEMO 2 */
  /* Hover state */
}
/* line 5, ../sass/_header.scss */
header .btn-t {
  padding: 7px 17px;
  color: #14a8a6;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #14a8a6;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 17, ../sass/_header.scss */
header .btn-t:hover {
  text-decoration: none;
  color: white;
  border: 1px solid white;
}
/* line 23, ../sass/_header.scss */
header .btn-t:visited {
  text-decoration: none;
}
/* line 27, ../sass/_header.scss */
header .row {
  position: relative;
  padding-top: 30px;
}
/* line 32, ../sass/_header.scss */
header .con-link {
  margin-left: 0px !important;
}
/* line 37, ../sass/_header.scss */
header .container.top-h {
  position: absolute;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1170px;
}
/* line 46, ../sass/_header.scss */
header .container.top-h .row {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: auto;
}
/* line 54, ../sass/_header.scss */
header .container.top-h .row .program-opt {
  background: white;
  border: none;
  font-size: 14px;
  padding: 6px;
  padding-right: 8px;
  border-bottom: 0px;
  color: #999999;
  box-shadow: none;
}
/* line 66, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 {
  text-align: right;
}
/* line 69, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 p {
  color: white;
}
/* line 73, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 .nav-links {
  padding-top: 15px;
}
/* line 76, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 .nav-links a {
  display: inline-block;
  margin-left: 15px;
}
/* line 82, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 .content-program {
  display: inline-block;
}
/* line 91, ../sass/_header.scss */
header .wrapper-dropdown-2 {
  /* Size and position */
  position: relative;
  /* Enable absolute positioning for children and pseudo elements */
  width: 175px;
  margin: 0 auto;
  padding: 8px 15px;
  /* Styles */
  background: white;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: 14px;
}
/* line 105, ../sass/_header.scss */
header .wrapper-dropdown-2:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #14a8a6 transparent;
}
/* line 118, ../sass/_header.scss */
header .wrapper-dropdown-2 .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  /* Styles */
  background: white;
  transition: all 0.3s ease-out;
  list-style: none;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
}
/* line 135, ../sass/_header.scss */
header .wrapper-dropdown-2 .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: all 0.3s ease-out;
  margin: 0px !important;
}
/* line 144, ../sass/_header.scss */
header .wrapper-dropdown-2 .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}
/* line 151, ../sass/_header.scss */
header .wrapper-dropdown-2 .dropdown li:hover a {
  color: #999999;
}
/* line 155, ../sass/_header.scss */
header .wrapper-dropdown-2.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
/* line 160, ../sass/_header.scss */
header #dd span {
  color: #999999;
}
/* line 165, ../sass/_header.scss */
header .nav-links span.icon-mail {
  font-size: 1.4em;
  padding-left: 18px;
  padding-right: 8px;
  color: #14a8a6;
}

/* line 1, ../sass/_general.scss */
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}
/* line 9, ../sass/_general.scss */
body h2 {
  font-size: 1.75em;
}
/* line 13, ../sass/_general.scss */
body h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 22, ../sass/_general.scss */
body a, body a:visited {
  color: #14a8a6;
}
/* line 26, ../sass/_general.scss */
body a:hover {
  color: #14a8a6;
  text-decoration: underline;
}
/* line 30, ../sass/_general.scss */
body section h2 {
  color: #24629d;
  font-size: 2.2em;
  font-weight: 100 !important;
  margin-bottom: 20px;
}

/* line 39, ../sass/_general.scss */
section.posts-and-links {
  padding: 30px 0;
}
/* line 43, ../sass/_general.scss */
section.posts-and-links .links-blk img {
  width: 100%;
}

/* line 50, ../sass/_general.scss */
section.video-slider {
  padding: 30px 0;
  background: #f0f0f0;
  overflow: hidden;
  height: 570px;
  position: relative;
}

/* line 59, ../sass/_general.scss */
section.quote {
  background: white;
  padding: 40px 0;
  font-size: 1.3em;
  color: #444444;
  font-weight: 100;
}
/* line 67, ../sass/_general.scss */
section.quote .desc {
  margin-top: 30px;
}
/* line 71, ../sass/_general.scss */
section.quote .rounded-radius {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/* line 77, ../sass/_general.scss */
section.quote blockquote {
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;
  font-style: italic;
}

/* line 85, ../sass/_general.scss */
section.apply {
  background: url("/wp-content/themes/road2argentina-child/img/image-applynow.jpg") no-repeat scroll center center transparent;
  height: 404px;
}
/* line 90, ../sass/_general.scss */
section.apply .apply-container {
  position: relative;
  top: 175px;
}
/* line 94, ../sass/_general.scss */
section.apply .apply-container h2 {
  color: white;
  display: inline-block;
}
/* line 99, ../sass/_general.scss */
section.apply .apply-container a {
  display: inline-block;
  margin-left: 20px;
}

/* line 108, ../sass/_general.scss */
section.sponsors {
  background: white;
  padding: 50px 0;
  text-align: center;
}
/* line 113, ../sass/_general.scss */
section.sponsors p {
  color: #01325d;
  margin-top: 20px;
}
/* line 118, ../sass/_general.scss */
section.sponsors .img-container {
  min-height: 105px;
}

/* line 124, ../sass/_general.scss */
section.posts-and-links .destacado-wra {
  border-bottom: 2.0px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-right: 14%;
}
/* line 130, ../sass/_general.scss */
section.posts-and-links .destacado-wra:last-child {
  margin-bottom: 0;
  padding-bottom: 0px;
  border-bottom: 0px;
}
/* line 136, ../sass/_general.scss */
section.posts-and-links .destacado-wra h3 {
  margin: 1em 0 !important;
  margin-bottom: 0.5em !important;
}
/* line 140, ../sass/_general.scss */
section.posts-and-links .destacado-wra h3 > a {
  color: #444444 !important;
  font-weight: 600;
  text-decoration: none;
}
/* line 145, ../sass/_general.scss */
section.posts-and-links .destacado-wra h3 > a:hover {
  text-decoration: underline;
  color: #444444 !important;
}
/* line 151, ../sass/_general.scss */
section.posts-and-links .destacado-wra .author > a {
  color: #444;
  text-decoration: none;
}
/* line 154, ../sass/_general.scss */
section.posts-and-links .destacado-wra .author > a:hover {
  color: #444 !important;
  text-decoration: underline;
}
/* line 160, ../sass/_general.scss */
section.posts-and-links .destacado-wra .contenido-post {
  margin-top: 0.5em;
  font-size: 1.2em;
  line-height: 1.6em;
}
/* line 169, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe:hover > span {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 177, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe:hover figcaption {
  visibility: visible !important;
}
/* line 182, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe:hover:after {
  background: none repeat scroll 0 0 rgba(0, 78, 146, 0.5);
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
}
/* line 192, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe figcaption {
  transition: all 0.35s ease 0s !important;
  visibility: hidden !important;
  z-index: 100;
}
/* line 197, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe figcaption a {
  color: #004e92;
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}
/* line 204, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe figcaption a span.flecha {
  position: absolute;
  padding-right: 1em;
  right: 0;
}
/* line 211, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe figcaption a:hover {
  text-decoration: none;
}
/* line 216, ../sass/_general.scss */
section.posts-and-links figure.effect-zoe p {
  left: 0 !important;
  padding: 2em 20% !important;
  width: 100%;
}

/* line 226, ../sass/_general.scss */
.bx-wrapper .bx-controls-direction a {
  text-indent: 0 !important;
}

/* line 230, ../sass/_general.scss */
.bx-next, .bx-prev, .bx-prev:visited, .bx-next:visited {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

/* line 237, ../sass/_general.scss */
.bx-next:hover,
.bx-prev:hover {
  color: #444444;
  text-decoration: none;
}

/* line 243, ../sass/_general.scss */
section.video-slider h2 {
  text-align: center;
  padding: 20px 0;
}

/* line 249, ../sass/_general.scss */
.center-video {
  margin: 0 auto;
  width: 620px;
}
/* line 252, ../sass/_general.scss */
.center-video .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
}
/* line 258, ../sass/_general.scss */
.center-video .bx-wrapper .bx-pager {
  bottom: -42px;
}
/* line 262, ../sass/_general.scss */
.center-video .bx-wrapper .bx-pager.bx-default-pager a, .center-video .bx-wrapper .bx-pager.bx-default-pager a:hover {
  cursor: default !important;
  background: #D7D7D7 !important;
}
/* line 267, ../sass/_general.scss */
.center-video .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #14a8a6 !important;
}

/* line 272, ../sass/_general.scss */
.left-video, .right-video {
  width: 620px;
  position: absolute;
}
/* line 276, ../sass/_general.scss */
.left-video .bx-controls-direction, .left-video .bx-wrapper .bx-pager, .right-video .bx-controls-direction, .right-video .bx-wrapper .bx-pager {
  display: none;
}
/* line 280, ../sass/_general.scss */
.left-video .bx-wrapper .bx-viewport, .right-video .bx-wrapper .bx-viewport {
  background: transparent;
  border: 2px solid #14a8a6;
  box-shadow: none;
}

/* line 287, ../sass/_general.scss */
.center-video {
  position: absolute;
  margin-left: -310px;
  left: 50%;
}

/* line 293, ../sass/_general.scss */
.left-video {
  margin-left: -980px;
  left: 50%;
}

/* line 298, ../sass/_general.scss */
.right-video {
  margin-right: -980px;
  right: 50%;
}

/* line 303, ../sass/_general.scss */
.bx-wrapper img {
  margin: 0 auto;
}

/* line 307, ../sass/_general.scss */
.bx-controls-direction a:focus, .bx-controls-direction a:hover {
  text-decoration: none !important;
}

/* line 313, ../sass/_general.scss */
.contact-form .wpcf7-not-valid-tip {
  color: white !important;
}
/* line 317, ../sass/_general.scss */
.contact-form div.wpcf7-validation-errors {
  border: none;
  background: white;
  color: #004E92;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 329, ../sass/_general.scss */
.home-vs .center-video a.bx-next, .home-vs .center-video a.bx-prev {
  color: white !important;
}
/* line 333, ../sass/_general.scss */
.home-vs .center-video .contentimgtxt p {
  display: none;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #004e92;
  color: white;
  padding: 30px 0;
}
/* line 6, ../sass/_footer.scss */
footer p {
  line-height: 22px;
  margin-bottom: 10px;
}
/* line 11, ../sass/_footer.scss */
footer h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 18, ../sass/_footer.scss */
footer ul li a {
  margin-bottom: 8px;
  display: block;
}
/* line 27, ../sass/_footer.scss */
footer ul.social li a, footer ul.social li a:visited {
  display: inline-block;
  padding: 0 8px 0 0;
  color: white;
  font-size: 25px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
/* line 39, ../sass/_footer.scss */
footer ul.social li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
/* line 47, ../sass/_footer.scss */
footer .wpcf7-form input, footer .wpcf7-form textarea {
  background: #01325d;
  border: medium none;
  padding: 8px 10px;
  width: 100%;
}
/* line 54, ../sass/_footer.scss */
footer .wpcf7-form textarea {
  height: 100px;
}
/* line 58, ../sass/_footer.scss */
footer .wpcf7-form input[type="submit"] {
  width: auto;
  background: #14a8a6;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 10px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/* line 70, ../sass/_footer.scss */
footer .wpcf7-form input[type="submit"]:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}

/* line 79, ../sass/_footer.scss */
section.sub-footer {
  background: #01325d;
  color: white;
  padding: 15px 0;
}

/* line 86, ../sass/_footer.scss */
.scrollup {
  /*width: 62px;
  height: 62px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;*/
  text-indent: -9999px;
  z-index: 999;
}

/* line 1, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs a {
  color: white;
  font-size: 14px;
  display: block;
}

/* line 7, ../sass/_billboard.scss */
.rslides_tabs .rslides_here a {
  background: none !important;
}

/* line 11, ../sass/_billboard.scss */
ul.rslides_tabs {
  padding: 0px !important;
}

/* line 15, ../sass/_billboard.scss */
.rslides_tabs {
  padding: 0px 0px !important;
  background: #003a6c !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDNhNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwZjg2ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  background: -moz-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #003a6c), color-stop(50%, #207cca), color-stop(50%, #0f8684)) !important;
  background: -webkit-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -o-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -ms-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: linear-gradient(to right, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003a6c', endColorstr='#0f8684',GradientType=1 ) !important;
}
/* line 27, ../sass/_billboard.scss */
.rslides_tabs li {
  margin: 0px !important;
  display: inline-block;
  float: none;
  margin-right: 1px;
  list-style-type: none;
  vertical-align: middle;
  /*padding: 23px 0px !important;*/
  width: 16% !important;
}
/* line 37, ../sass/_billboard.scss */
.rslides_tabs li a:hover {
  text-decoration: none !important;
  font-weight: 600;
}
/* line 43, ../sass/_billboard.scss */
.rslides_tabs a {
  /*padding: 2% 5% !important;*/
  padding: 0px !important;
  padding: 15% 0 !important;
}
/* line 50, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s1 {
  background: #003a6c;
}
/* line 54, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s2 {
  background: #0a5693;
}
/* line 58, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s3 {
  background: #1372bf;
}
/* line 62, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s4 {
  background: #14a8a6;
}
/* line 66, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s5 {
  background: #0f8684;
}

/* line 71, ../sass/_billboard.scss */
.container.billboard-legend {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1170px;
  text-align: center;
  top: 8%;
  z-index: 99;
}
/* line 82, ../sass/_billboard.scss */
.container.billboard-legend .inner-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: auto;
  padding-top: 10%;
}
/* line 91, ../sass/_billboard.scss */
.container.billboard-legend .inner-box h1 {
  font-size: 60px;
  color: white;
  font-weight: 700;
  margin: 0px;
  line-height: 1.0em;
}
/* line 99, ../sass/_billboard.scss */
.container.billboard-legend .inner-box p {
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
}
/* line 106, ../sass/_billboard.scss */
.container.billboard-legend .inner-box a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

/* line 115, ../sass/_billboard.scss */
.metaslider .caption-wrap {
  background: none !important;
  text-align: center;
  opacity: 1 !important;
  bottom: 21% !important;
}
/* line 121, ../sass/_billboard.scss */
.metaslider .caption-wrap h1 {
  font-size: 60px;
  color: white !important;
  font-weight: 700;
  margin: 0px;
  line-height: 1.0em;
}
/* line 129, ../sass/_billboard.scss */
.metaslider .caption-wrap p {
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
}
/* line 136, ../sass/_billboard.scss */
.metaslider .caption-wrap a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

/*--------------------*/
/* Thumb flip */
/*--------------------*/
/* line 148, ../sass/_billboard.scss */
.color-7 {
  background-color: #c1b8ab;
}

/*.nav-thumbflip a {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}*/
/* line 155, ../sass/_billboard.scss */
.nav-thumbflip a.prev {
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
}

/* line 160, ../sass/_billboard.scss */
.nav-thumbflip a.next {
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

/* line 165, ../sass/_billboard.scss */
.nav-thumbflip .icon-wrap {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #b1a798;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 174, ../sass/_billboard.scss */
.nav-thumbflip svg.icon {
  position: relative;
  top: 50%;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #fff;
}

/* line 184, ../sass/_billboard.scss */
.nav-thumbflip img {
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 192, ../sass/_billboard.scss */
.nav-thumbflip a.prev img {
  left: 100%;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

/* line 200, ../sass/_billboard.scss */
.nav-thumbflip a.next img {
  right: 100%;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* line 208, ../sass/_billboard.scss */
.nav-thumbflip a:hover .icon-wrap {
  background-color: #fff;
}

/* line 212, ../sass/_billboard.scss */
.nav-thumbflip a:hover svg.icon {
  fill: #c1b8ab;
}

/* line 216, ../sass/_billboard.scss */
.nav-thumbflip a:hover img {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 222, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides_here a {
  position: relative;
}

/* line 226, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides1_s1.rslides_here a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #003A6C transparent;
  display: block;
  width: 0;
  z-index: 99;
  top: -14%;
  left: 100px;
}

/* line 241, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides1_s2.rslides_here a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #0A5693 transparent;
  display: block;
  width: 0;
  z-index: 99;
  top: -14%;
  left: 43%;
}

/* line 254, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides1_s3.rslides_here a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #1372BF transparent;
  display: block;
  width: 0;
  z-index: 99;
  top: -14%;
  left: 42%;
}

/* line 267, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides1_s4.rslides_here a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #14A8A6 transparent;
  display: block;
  width: 0;
  z-index: 99;
  top: -14%;
  left: 42%;
}

/* line 280, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs .rslides1_s5.rslides_here a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #0F8684 transparent;
  display: block;
  width: 0;
  z-index: 99;
  top: -14%;
  left: 42%;
}

/* line 294, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.next {
  color: transparent;
  padding: 35px;
  opacity: 1.0;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 305, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.prev {
  color: transparent;
  padding: 35px;
  padding-left: 32px;
  padding-right: 38px;
  opacity: 1.0;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 320, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.next:hover {
  color: transparent;
  background: #14a8a6;
}
/* line 325, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.prev:hover {
  color: transparent;
  background: #14a8a6;
}

/* line 332, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.next:after {
  content: "\e60c";
  color: white;
  font-size: 24px;
  font-family: 'icomoon';
  font-weight: 400;
  padding-right: 5px;
  opacity: 1.0 !important;
}
/* line 342, ../sass/_billboard.scss */
section.slider .rslides_nav.rslides1_nav.prev:after {
  content: "\e60b";
  color: white;
  font-size: 24px;
  font-family: 'icomoon';
  font-weight: 400;
  opacity: 1.0 !important;
}

@media only screen and (max-width: 767px) {
  /* line 3, ../sass/_mediaqueries.scss */
  footer .col-sm-4 {
    padding-top: 30px;
  }
  /* line 7, ../sass/_mediaqueries.scss */
  footer .col-sm-2 {
    padding-top: 20px;
  }

  /* line 12, ../sass/_mediaqueries.scss */
  section.sponsors p {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  /* line 17, ../sass/_mediaqueries.scss */
  .rslides_nav.rslides1_nav.next {
    display: none;
  }

  /* line 21, ../sass/_mediaqueries.scss */
  .rslides_nav.rslides1_nav.prev {
    display: none;
  }

  /* line 26, ../sass/_mediaqueries.scss */
  .slider .rslides_tabs li {
    width: auto !important;
    display: block;
  }
  /* line 31, ../sass/_mediaqueries.scss */
  .slider .rslides_tabs a {
    padding: 8px 0px !important;
  }

  /* line 36, ../sass/_mediaqueries.scss */
  ul.rslides_tabs.rslides1_tabs .rslides1_s1.rslides_here a:after, ul.rslides_tabs.rslides1_tabs .rslides1_s2.rslides_here a:after, ul.rslides_tabs.rslides1_tabs .rslides1_s3.rslides_here a:after, ul.rslides_tabs.rslides1_tabs .rslides1_s4.rslides_here a:after, ul.rslides_tabs.rslides1_tabs .rslides1_s5.rslides_here a:after {
    border-style: none;
  }

  /* line 43, ../sass/_mediaqueries.scss */
  .slider .caption-wrap .caption h1 {
    font-size: 2.5em;
  }
  /* line 47, ../sass/_mediaqueries.scss */
  .slider .caption-wrap .caption p {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 57, ../sass/_mediaqueries.scss */
  .pr0-for-large {
    padding-right: 0 !important;
  }

  /* line 58, ../sass/_mediaqueries.scss */
  .pl0-for-large {
    padding-left: 0 !important;
  }

  /* line 60, ../sass/_mediaqueries.scss */
  .col-sm-6.pl0-for-large .row {
    margin-left: 0;
  }
}
/* line 3, ../sass/_program.scss */
section.billboard-program .background {
  text-align: center;
  background: #01325d;
  		/*height: 100vh;
  
  		img {
  			min-height: 100%;
  		}*/
}
/* line 13, ../sass/_program.scss */
section.billboard-program .bill-text {
  position: absolute;
  top: 300px;
  color: white;
  z-index: 200;
}
/* line 20, ../sass/_program.scss */
section.billboard-program h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
/* line 28, ../sass/_program.scss */
section.billboard-program .main-caption {
  display: block;
  font-size: 24px;
  font-weight: 100;
  margin: 0 0 20px;
}
/* line 35, ../sass/_program.scss */
section.billboard-program a.btn {
  display: inline-block;
}
/* line 39, ../sass/_program.scss */
section.billboard-program .post-meta-key {
  display: none;
}

/* line 44, ../sass/_program.scss */
.modify .main-program {
  bottom: 150px;
  position: relative;
}

/* line 49, ../sass/_program.scss */
.modify span.icon-arrow-down {
  display: none;
}

/* line 53, ../sass/_program.scss */
span.icon-arrow-down {
  color: #14a8a6;
  font-size: 36px;
  display: block;
  margin-top: 25px;
}

/* line 77, ../sass/_program.scss */
section.main-program h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #035493;
}
/* line 85, ../sass/_program.scss */
section.main-program .main-p {
  font-size: 20px;
  color: #444444;
  line-height: 30px;
  font-weight: 100;
}
/* line 92, ../sass/_program.scss */
section.main-program .accordion-sec {
  color: #444444;
}
/* line 95, ../sass/_program.scss */
section.main-program .accordion-sec .collap-info {
  padding-left: 20px;
  margin-top: 10px;
}
/* line 100, ../sass/_program.scss */
section.main-program .accordion-sec .collapse-item {
  border-bottom: 1px solid #cecece;
  padding: 8px 0;
}
/* line 106, ../sass/_program.scss */
section.main-program .accordion-sec h2 {
  margin-bottom: 10px;
}
/* line 110, ../sass/_program.scss */
section.main-program .accordion-sec h4 {
  color: #14a8a6;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 117, ../sass/_program.scss */
section.main-program .accordion-sec h5 {
  font-weight: 600;
}
/* line 121, ../sass/_program.scss */
section.main-program .accordion-sec p {
  margin-bottom: 10px;
}
/* line 125, ../sass/_program.scss */
section.main-program .accordion-sec span.sub-title {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
/* line 133, ../sass/_program.scss */
section.main-program .text p {
  margin-bottom: 20px;
}
/* line 137, ../sass/_program.scss */
section.main-program .text span.icon-info {
  color: #999999;
  margin-right: 5px;
  font-size: 16px;
  vertical-align: top;
}
/* line 144, ../sass/_program.scss */
section.main-program .text span.icon-warning {
  color: #BB2620;
  margin-right: 5px;
}
/* line 150, ../sass/_program.scss */
section.main-program .sidebar {
  background: #F9F9F9;
  padding: 40px 20px;
}
/* line 154, ../sass/_program.scss */
section.main-program .sidebar h5 {
  color: #035493;
  font-weight: 700;
  font-family: 1em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 162, ../sass/_program.scss */
section.main-program .sidebar ul {
  margin-bottom: 40px;
}
/* line 165, ../sass/_program.scss */
section.main-program .sidebar ul li {
  margin-bottom: 5px;
}
/* line 170, ../sass/_program.scss */
section.main-program .sidebar p {
  line-height: 24px;
}

/* line 179, ../sass/_program.scss */
.apply-container.tac h2 {
  font-size: 1.8em;
}
/* line 185, ../sass/_program.scss */
.apply-container.tac .contact-form form p {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 5px;
  width: auto;
}
/* line 191, ../sass/_program.scss */
.apply-container.tac .contact-form form p input {
  background: white;
  border: none;
  color: #222222;
  padding: 14px;
  font-size: 12px;
  width: auto;
}
/* line 200, ../sass/_program.scss */
.apply-container.tac .contact-form form p input[type="submit"] {
  background-color: #14a8a6;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.5s ease 0s;
  width: auto;
  color: white;
  font-size: 1.3em;
}
/* line 211, ../sass/_program.scss */
.apply-container.tac .contact-form form p input[type="submit"]:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}
/* line 220, ../sass/_program.scss */
.apply-container.tac .contact-form .invalid input[type="submit"] {
  position: relative;
  bottom: 20px;
}

/* line 233, ../sass/_program.scss */
.col-sm-4 .sidebar ul li span {
  color: #035493;
  color: #035493;
  display: inline-block;
  font-size: 12px;
  padding-right: 9px;
  text-align: center;
  width: 27px;
}

/* line 249, ../sass/_program.scss */
.contentimgtxt {
  position: relative;
  min-height: 378px;
}
/* line 253, ../sass/_program.scss */
.contentimgtxt p {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: 'Merriweather';
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0px 60px;
  top: 35%;
}
/* line 265, ../sass/_program.scss */
.contentimgtxt p span {
  display: block;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
}

/* line 276, ../sass/_program.scss */
.left-video .contentimgtxt p, .right-video .contentimgtxt p {
  color: #D7D7D7;
}

/* line 282, ../sass/_program.scss */
.video-slider .center-video a.bx-next, .video-slider .center-video a.bx-prev {
  color: #14a8a6;
}

/* line 287, ../sass/_program.scss */
#it-s {
  font-style: italic;
}

/* line 1, ../sass/_team.scss */
.main-program.main-team {
  background: url(../../img/textura-back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0px;
}
/* line 9, ../sass/_team.scss */
.main-program.main-team .col-sm-10.col-sm-offset-1 p {
  font-size: 1.3em;
  color: #0D558F;
  text-align: center;
  padding-top: 35px;
}

/* line 17, ../sass/_team.scss */
.team-p .main-caption {
  font-size: 1.4em !important;
}

/* line 21, ../sass/_team.scss */
.first-b .boxtxt-img, .second-b .boxtxt-img, .third-b .boxtxt-img, .four-b .boxtxt-img, .fif-b .boxtxt-img, .six-b .boxtxt-img, .seven-b .boxtxt-img, .eight-b .boxtxt-img {
  position: relative;
}
/* line 24, ../sass/_team.scss */
.first-b .boxtxt-img img, .second-b .boxtxt-img img, .third-b .boxtxt-img img, .four-b .boxtxt-img img, .fif-b .boxtxt-img img, .six-b .boxtxt-img img, .seven-b .boxtxt-img img, .eight-b .boxtxt-img img {
  width: 100%;
  cursor: pointer;
}
/* line 29, ../sass/_team.scss */
.first-b .boxtxt-img img:hover, .second-b .boxtxt-img img:hover, .third-b .boxtxt-img img:hover, .four-b .boxtxt-img img:hover, .fif-b .boxtxt-img img:hover, .six-b .boxtxt-img img:hover, .seven-b .boxtxt-img img:hover, .eight-b .boxtxt-img img:hover {
  border: 2px solid #60A8E3;
  padding: 0px !important;
}
/* line 34, ../sass/_team.scss */
.first-b .boxtxt-img .subtitles, .second-b .boxtxt-img .subtitles, .third-b .boxtxt-img .subtitles, .four-b .boxtxt-img .subtitles, .fif-b .boxtxt-img .subtitles, .six-b .boxtxt-img .subtitles, .seven-b .boxtxt-img .subtitles, .eight-b .boxtxt-img .subtitles {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  z-index: 5;
  line-height: 2.1em;
}
/* line 45, ../sass/_team.scss */
.first-b .boxtxt-img .subtitles .name-sub, .second-b .boxtxt-img .subtitles .name-sub, .third-b .boxtxt-img .subtitles .name-sub, .four-b .boxtxt-img .subtitles .name-sub, .fif-b .boxtxt-img .subtitles .name-sub, .six-b .boxtxt-img .subtitles .name-sub, .seven-b .boxtxt-img .subtitles .name-sub, .eight-b .boxtxt-img .subtitles .name-sub {
  color: white;
  font-size: 1.9em;
}
/* line 50, ../sass/_team.scss */
.first-b .boxtxt-img .subtitles h4.name-sub, .second-b .boxtxt-img .subtitles h4.name-sub, .third-b .boxtxt-img .subtitles h4.name-sub, .four-b .boxtxt-img .subtitles h4.name-sub, .fif-b .boxtxt-img .subtitles h4.name-sub, .six-b .boxtxt-img .subtitles h4.name-sub, .seven-b .boxtxt-img .subtitles h4.name-sub, .eight-b .boxtxt-img .subtitles h4.name-sub {
  font-weight: 700;
  font-size: 2.1em;
  text-transform: uppercase;
}
/* line 56, ../sass/_team.scss */
.first-b .boxtxt-img .subtitles h5.name-sub, .second-b .boxtxt-img .subtitles h5.name-sub, .third-b .boxtxt-img .subtitles h5.name-sub, .four-b .boxtxt-img .subtitles h5.name-sub, .fif-b .boxtxt-img .subtitles h5.name-sub, .six-b .boxtxt-img .subtitles h5.name-sub, .seven-b .boxtxt-img .subtitles h5.name-sub, .eight-b .boxtxt-img .subtitles h5.name-sub {
  font-size: 1.6em;
  text-transform: uppercase;
}

/* line 64, ../sass/_team.scss */
.six-b .boxtxt-img img:hover, .seven-b .boxtxt-img img:hover, .eight-b .boxtxt-img img:hover {
  border: 2px solid #14A9A7 !important;
}

/* line 69, ../sass/_team.scss */
.boxtxt-img:after {
  background: none repeat scroll 0 0 rgba(96, 168, 227, 0.7);
  content: "";
  height: calc(100% - 2px);
  position: absolute;
  top: 0;
  width: calc(100% - 2px);
  z-index: 0;
}

/* line 79, ../sass/_team.scss */
.sec-memb .boxtxt-img:after {
  background: none repeat scroll 0 0 rgba(18, 114, 190, 0.7);
}

/* line 83, ../sass/_team.scss */
.third-memb .boxtxt-img:after {
  background: none repeat scroll 0 0 rgba(20, 168, 166, 0.7);
}

/* line 88, ../sass/_team.scss */
.boxtxt-img:hover:after {
  background: none !important;
  z-index: -1;
}

/* line 93, ../sass/_team.scss */
.team-choose {
  background: #26A5AC;
  text-align: center;
  padding: 60px 0px;
}
/* line 98, ../sass/_team.scss */
.team-choose a {
  color: #A2FAFB !important;
  font-size: 60px;
  border: 2px solid #A2FAFB;
  border-radius: 90px;
  padding: 25px;
  position: relative;
  display: inline-block;
  margin: 0px 16%;
}
/* line 109, ../sass/_team.scss */
.team-choose a.icon-group2 {
  font-size: 47px;
  padding: 31px 18px;
}
/* line 114, ../sass/_team.scss */
.team-choose a:hover {
  text-decoration: none;
  background: #A2FAFB;
  color: #26A5AC !important;
}
/* line 120, ../sass/_team.scss */
.team-choose a:hover:after {
  content: "";
  border-width: 19px 10px 0;
  border-style: solid;
  border-color: #A2FAFB transparent;
  position: absolute;
  left: 46px;
  bottom: -14px;
}
/* line 130, ../sass/_team.scss */
.team-choose h3 {
  color: white;
  font-size: 2.3em;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 139, ../sass/_team.scss */
.adv-content {
  margin: auto;
  position: relative;
  top: 30%;
  width: 34%;
  text-align: center;
}
/* line 146, ../sass/_team.scss */
.adv-content h3 {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 2.8em;
  margin: 0px;
  line-height: 0.8em;
}
/* line 155, ../sass/_team.scss */
.adv-content h4 {
  color: white;
  font-size: 2.1em;
}
/* line 160, ../sass/_team.scss */
.adv-content a {
  color: white !important;
  font-size: 2.9em;
  display: inline-block;
  margin: 5px 10px 0px;
}
/* line 167, ../sass/_team.scss */
.adv-content p {
  font-size: 1.3em;
  color: white !important;
  line-height: 1.6em;
  margin: 20px 0px;
  padding: 0px !important;
}
/* line 175, ../sass/_team.scss */
.adv-content a:hover, .adv-content a:active, .adv-content a:focus {
  text-decoration: none;
  opacity: 0.5;
  color: white;
}

/* line 183, ../sass/_team.scss */
#tab-box {
  margin: 0 auto;
  position: relative;
  min-height: 335px;
}

/* line 189, ../sass/_team.scss */
.tab {
  display: inline-block;
  margin-left: 10px;
}

/* line 195, ../sass/_team.scss */
.tab:first-of-type {
  margin-left: 0;
}

/* line 199, ../sass/_team.scss */
.tab span:first-of-type a {
  cursor: pointer;
  display: inline-block;
  color: #c4d0de;
  text-decoration: none;
}

/* line 206, ../sass/_team.scss */
.tab:target span:first-of-type a {
  background: none repeat scroll 0 0 #a2fafb;
  color: #26a5ac !important;
}

/* line 211, ../sass/_team.scss */
.tab:target span:first-of-type a:after {
  content: "";
  border-width: 19px 10px 0;
  border-style: solid;
  border-color: #A2FAFB transparent;
  position: absolute;
  left: 46px;
  bottom: -14px;
  z-index: 99999;
}

/* line 222, ../sass/_team.scss */
.tab:target span {
  z-index: 1;
}

/* line 226, ../sass/_team.scss */
.tab p {
  padding: 0;
  margin: 0;
  text-align: justify;
}

/* line 232, ../sass/_team.scss */
.tab span:nth-of-type(2) {
  display: block;
  background: #26A5AC;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  margin-top: 6%;
  min-height: 160px;
}
/* line 244, ../sass/_team.scss */
.tab span:nth-of-type(2) p, .tab span:nth-of-type(2) h6 {
  text-align: center;
}
/* line 248, ../sass/_team.scss */
.tab span:nth-of-type(2) h6 {
  color: #A2FAFB;
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 18px;
}
/* line 255, ../sass/_team.scss */
.tab span:nth-of-type(2) p {
  color: white;
  line-height: 1.6em;
}

/* line 261, ../sass/_team.scss */
.boxtxt-img img {
  width: 100%;
  padding: 2px;
}

/* line 266, ../sass/_team.scss */
.boxtxt-img {
  margin-bottom: 30px;
}

/* line 1, ../sass/_registration.scss */
section.billboard-program.registration-billboard .bill-text {
  top: 170px !important;
}

/* line 5, ../sass/_registration.scss */
section.billboard-program.registration-billboard .main-caption {
  font-size: 1.3em !important;
  padding-top: 15px;
}

/* line 10, ../sass/_registration.scss */
section.main-registration {
  padding: 65px 0px;
}
/* line 13, ../sass/_registration.scss */
section.main-registration .cont-form-reg {
  padding-bottom: 20px;
}
/* line 17, ../sass/_registration.scss */
section.main-registration .cont-form-reg form h3 {
  color: #24629d;
  font-size: 2.3em;
}
/* line 22, ../sass/_registration.scss */
section.main-registration .cont-form-reg form hr {
  border-top: 1px solid #b3b3b3;
  margin-top: 50px;
  margin-bottom: 45px;
}
/* line 28, ../sass/_registration.scss */
section.main-registration .cont-form-reg form .int-reg {
  color: #24629d;
  font-weight: 700;
  font-size: 1.3em;
  padding-top: 30px;
}
/* line 35, ../sass/_registration.scss */
section.main-registration .cont-form-reg form input, section.main-registration .cont-form-reg form textarea {
  border: none;
  background: #FBFBFB;
  font-size: 1.2em;
  color: #222222;
  padding: 10px 12px;
}
/* line 43, ../sass/_registration.scss */
section.main-registration .cont-form-reg form textarea {
  width: 100%;
  font-size: 1.0em;
}
/* line 48, ../sass/_registration.scss */
section.main-registration .cont-form-reg form .inp-style input {
  width: 22%;
  margin-right: 15px;
  margin-bottom: 25px;
  margin-top: 20px;
}
/* line 55, ../sass/_registration.scss */
section.main-registration .cont-form-reg form #email-inp input {
  width: 45.7%;
}
/* line 59, ../sass/_registration.scss */
section.main-registration .cont-form-reg form input[type="submit"] {
  background: #14a8a6;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.5s ease 0s;
  width: auto;
  font-weight: 700;
  color: white;
}
/* line 70, ../sass/_registration.scss */
section.main-registration .cont-form-reg form input[type="submit"]:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}
/* line 76, ../sass/_registration.scss */
section.main-registration .cont-form-reg form .opt-rad label {
  display: block;
  color: #979797;
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 82, ../sass/_registration.scss */
section.main-registration .cont-form-reg form .opt-rad label span {
  padding-left: 10px;
  cursor: pointer;
}
/* line 88, ../sass/_registration.scss */
section.main-registration .cont-form-reg form #inmt {
  padding-top: 0px !important;
}

/* line 97, ../sass/_registration.scss */
.cont-form-reg span.wpcf7-not-valid-tip {
  color: #24629d !important;
}
/* line 101, ../sass/_registration.scss */
.cont-form-reg div.wpcf7-response-output {
  background: #004e92 !important;
  color: white;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 2, ../sass/_contact.scss */
section .background-contact {
  min-height: 400px;
  background: #00192f !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMTkyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTMyNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  background: -moz-linear-gradient(top, #00192f 0%, #01325d 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00192f), color-stop(100%, #01325d)) !important;
  background: -webkit-linear-gradient(top, #00192f 0%, #01325d 100%) !important;
  background: -o-linear-gradient(top, #00192f 0%, #01325d 100%) !important;
  background: -ms-linear-gradient(top, #00192f 0%, #01325d 100%) !important;
  background: linear-gradient(to bottom, #00192f 0%, #01325d 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192f', endColorstr='#01325d',GradientType=0 ) !important;
}

/* line 18, ../sass/_contact.scss */
.main-program.main-contact h3 {
  font-size: 2.3em;
  color: #035493;
  margin-bottom: 30px;
}
/* line 25, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 ul li {
  color: #000000;
  font-size: 1.2em;
  padding-bottom: 30px;
}
/* line 30, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 ul li span {
  display: inline-block;
}
/* line 34, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 ul li span:first-child {
  color: #035493;
  padding-right: 20px;
}
/* line 39, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 ul li p {
  display: inline-block;
}
/* line 43, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 ul li p:last-child {
  display: block;
  padding-left: 40px;
}
/* line 49, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus {
  width: 100%;
}
/* line 53, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus form {
  width: 100%;
}
/* line 57, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus .tog-input span input {
  width: 47.6% !important;
}
/* line 61, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus .tog-input span:last-child input {
  margin-left: 3%;
}
/* line 65, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus input, .main-program.main-contact .col-sm-6 .form-sendus textarea {
  border: none;
  background: #FBFBFB;
  font-size: 1.2em;
  color: #222222;
  padding: 10px 12px;
  width: 100%;
  margin-bottom: 25px;
}
/* line 75, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus input[type="submit"] {
  background: #14a8a6;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background-color 0.5s ease 0s;
  width: auto;
  font-weight: 700;
  color: white;
  border: none;
}
/* line 87, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus input[type="submit"]:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}
/* line 93, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus p {
  width: 100%;
}
/* line 97, ../sass/_contact.scss */
.main-program.main-contact .col-sm-6 .form-sendus span {
  width: auto !important;
}

/* line 105, ../sass/_contact.scss */
section.main-program.main-contact {
  padding: 70px 0px;
}

/* line 109, ../sass/_contact.scss */
section.billboard-program.billboard-contact .bill-text {
  top: 170px !important;
}

/* line 113, ../sass/_contact.scss */
section.billboard-program.billboard-contact .main-caption {
  font-size: 1.3em !important;
  padding-top: 15px;
}

/* line 119, ../sass/_contact.scss */
.form-sendus div.wpcf7-response-output {
  background: #004e92 !important;
  color: white;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
}
