/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_variables.scss */
.btn {
  background: #14a8a6;
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 25, ../sass/_variables.scss */
.tac {
  text-align: center !important;
}

/* line 1, ../sass/_header.scss */
header {
  position: relative;
}
/* line 5, ../sass/_header.scss */
header .btn-t {
  padding: 7px 17px;
  color: #14a8a6;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #14a8a6;
}
/* line 13, ../sass/_header.scss */
header .btn-t:hover {
  text-decoration: none;
  color: white;
  border: 1px solid white;
}
/* line 19, ../sass/_header.scss */
header .btn-t:visited {
  text-decoration: none;
}
/* line 23, ../sass/_header.scss */
header .row {
  position: relative;
  padding-top: 30px;
}
/* line 29, ../sass/_header.scss */
header .container.top-h {
  position: absolute;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1170px;
}
/* line 38, ../sass/_header.scss */
header .container.top-h .row {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: auto;
}
/* line 46, ../sass/_header.scss */
header .container.top-h .row .program-opt {
  background: white;
  border: none;
  font-size: 14px;
  padding: 6px;
  padding-right: 8px;
  border-bottom: 0px;
  color: #999999;
  box-shadow: none;
}
/* line 58, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 {
  text-align: right;
}
/* line 61, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 p {
  color: white;
}
/* line 65, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 .nav-links {
  padding-top: 15px;
}
/* line 68, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 .nav-links a {
  display: inline-block;
  margin-left: 15px;
}
/* line 74, ../sass/_header.scss */
header .container.top-h .row .col-sm-8 nav {
  display: inline-block;
}

/* line 1, ../sass/_general.scss */
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}
/* line 9, ../sass/_general.scss */
body h2 {
  font-size: 1.75em;
}
/* line 13, ../sass/_general.scss */
body h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 22, ../sass/_general.scss */
body a, body a:visited {
  color: #14a8a6;
}
/* line 26, ../sass/_general.scss */
body a:hover {
  color: #14a8a6;
  text-decoration: underline;
}

/* line 34, ../sass/_general.scss */
section.apply {
  background: url("/wp-content/themes/road2argentina-child/img/image-applynow.jpg") no-repeat scroll center center transparent;
  height: 404px;
}
/* line 39, ../sass/_general.scss */
section.apply .apply-container {
  position: relative;
  top: 175px;
}
/* line 43, ../sass/_general.scss */
section.apply .apply-container h2 {
  color: white;
  display: inline-block;
}
/* line 48, ../sass/_general.scss */
section.apply .apply-container a {
  display: inline-block;
  margin-left: 20px;
}

/* line 57, ../sass/_general.scss */
section.sponsors {
  background: white;
  padding: 50px 0;
  text-align: center;
}
/* line 62, ../sass/_general.scss */
section.sponsors p {
  color: #01325d;
  margin-top: 20px;
}
/* line 67, ../sass/_general.scss */
section.sponsors .img-container {
  min-height: 105px;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #004e92;
  color: white;
  padding: 30px 0;
}
/* line 6, ../sass/_footer.scss */
footer p {
  line-height: 22px;
  margin-bottom: 10px;
}
/* line 11, ../sass/_footer.scss */
footer h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 18, ../sass/_footer.scss */
footer ul li a {
  margin-bottom: 8px;
  display: block;
}
/* line 27, ../sass/_footer.scss */
footer ul.social li a {
  display: inline-block;
  padding: 0 10px 0 0;
}
/* line 35, ../sass/_footer.scss */
footer .wpcf7-form input, footer .wpcf7-form textarea {
  background: #01325d;
  border: medium none;
  padding: 8px 10px;
  width: 100%;
}
/* line 42, ../sass/_footer.scss */
footer .wpcf7-form textarea {
  height: 100px;
}
/* line 46, ../sass/_footer.scss */
footer .wpcf7-form input[type="submit"] {
  width: auto;
  background: #14a8a6;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 57, ../sass/_footer.scss */
section.sub-footer {
  background: #01325d;
  color: white;
  padding: 15px 0;
}

/* line 1, ../sass/_billboard.scss */
ul.rslides_tabs.rslides1_tabs a {
  color: white;
  font-size: 14px;
}

/* line 6, ../sass/_billboard.scss */
.rslides_tabs .rslides_here a {
  background: none !important;
}

/* line 10, ../sass/_billboard.scss */
ul.rslides_tabs {
  padding: 0px !important;
}

/* line 14, ../sass/_billboard.scss */
.rslides_tabs {
  padding: 0px 0px !important;
  background: #003a6c !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDNhNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwZjg2ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  background: -moz-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #003a6c), color-stop(50%, #207cca), color-stop(50%, #0f8684)) !important;
  background: -webkit-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -o-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: -ms-linear-gradient(left, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  background: linear-gradient(to right, #003a6c 50%, #207cca 50%, #0f8684 50%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003a6c', endColorstr='#0f8684',GradientType=1 ) !important;
}
/* line 26, ../sass/_billboard.scss */
.rslides_tabs li {
  margin: 0px !important;
  display: inline-block;
  float: none;
  margin-right: 1px;
  list-style-type: none;
  vertical-align: middle;
  /*padding: 23px 0px !important;*/
  padding: 2% 1% !important;
  width: 16% !important;
}
/* line 39, ../sass/_billboard.scss */
.rslides_tabs a {
  /*padding: 2% 5% !important;*/
  padding: 0px !important;
}
/* line 44, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s1 {
  background: #003a6c;
}
/* line 48, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s2 {
  background: #0a5693;
}
/* line 52, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s3 {
  background: #1372bf;
}
/* line 56, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s4 {
  background: #14a8a6;
}
/* line 60, ../sass/_billboard.scss */
.rslides_tabs li.rslides1_s5 {
  background: #0f8684;
}
/* line 64, ../sass/_billboard.scss */
.rslides_tabs .rslides_here a:after {
  border-color: red !important;
  border-width: 0 15px 15px !important;
  bottom: auto !important;
  left: auto !important;
  right: 50px !important;
  top: -15px !important;
  display: block !important;
}

/* line 75, ../sass/_billboard.scss */
.rslides_here a:after {
  border-color: red !important;
  border-width: 0 15px 15px !important;
  bottom: auto !important;
  left: auto !important;
  right: 50px !important;
  top: -15px !important;
}

/* line 84, ../sass/_billboard.scss */
.container.billboard-legend {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1170px;
  text-align: center;
  top: 8%;
  z-index: 99;
}
/* line 95, ../sass/_billboard.scss */
.container.billboard-legend .inner-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: auto;
  padding-top: 10%;
}
/* line 104, ../sass/_billboard.scss */
.container.billboard-legend .inner-box h1 {
  font-size: 60px;
  color: white;
  font-weight: 700;
  margin: 0px;
  line-height: 1.0em;
}
/* line 112, ../sass/_billboard.scss */
.container.billboard-legend .inner-box p {
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
}
/* line 119, ../sass/_billboard.scss */
.container.billboard-legend .inner-box a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

/* line 128, ../sass/_billboard.scss */
.metaslider .caption-wrap {
  background: none !important;
  text-align: center;
  opacity: 1 !important;
  bottom: 21% !important;
}
/* line 134, ../sass/_billboard.scss */
.metaslider .caption-wrap h1 {
  font-size: 60px;
  color: white !important;
  font-weight: 700;
  margin: 0px;
  line-height: 1.0em;
}
/* line 142, ../sass/_billboard.scss */
.metaslider .caption-wrap p {
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
}
/* line 149, ../sass/_billboard.scss */
.metaslider .caption-wrap a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

/*--------------------*/
/* Thumb flip */
/*--------------------*/
/* line 161, ../sass/_billboard.scss */
.color-7 {
  background-color: #c1b8ab;
}

/*.nav-thumbflip a {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}*/
/* line 168, ../sass/_billboard.scss */
.nav-thumbflip a.prev {
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
}

/* line 173, ../sass/_billboard.scss */
.nav-thumbflip a.next {
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

/* line 178, ../sass/_billboard.scss */
.nav-thumbflip .icon-wrap {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #b1a798;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 187, ../sass/_billboard.scss */
.nav-thumbflip svg.icon {
  position: relative;
  top: 50%;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #fff;
}

/* line 197, ../sass/_billboard.scss */
.nav-thumbflip img {
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 205, ../sass/_billboard.scss */
.nav-thumbflip a.prev img {
  left: 100%;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

/* line 213, ../sass/_billboard.scss */
.nav-thumbflip a.next img {
  right: 100%;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* line 221, ../sass/_billboard.scss */
.nav-thumbflip a:hover .icon-wrap {
  background-color: #fff;
}

/* line 225, ../sass/_billboard.scss */
.nav-thumbflip a:hover svg.icon {
  fill: #c1b8ab;
}

/* line 229, ../sass/_billboard.scss */
.nav-thumbflip a:hover img {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
