/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_variables.scss */
.btn, .btn:visited {
  background-color: #14a8a6;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/* line 28, ../sass/_variables.scss */
.btn:hover {
  background-color: #0f8684;
  color: white;
  text-decoration: none;
}

/* line 36, ../sass/_variables.scss */
.tac {
  text-align: center !important;
}

/* line 37, ../sass/_variables.scss */
.pr5 {
  padding-right: 5px !important;
}

/* line 38, ../sass/_variables.scss */
.pl5 {
  padding-left: 5px !important;
}

/* line 39, ../sass/_variables.scss */
.pb10 {
  padding-bottom: 10px !important;
}

/* line 40, ../sass/_variables.scss */
.pb20 {
  padding-bottom: 20px !important;
}

/* line 41, ../sass/_variables.scss */
.pb30 {
  padding-bottom: 30px !important;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/
/* line 47, ../sass/_variables.scss */
figure.effect-zoe {
  position: relative;
}

/* line 63, ../sass/_variables.scss */
figure.effect-zoe figcaption {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #F5F5F5;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 79, ../sass/_variables.scss */
figure.effect-zoe h2 {
  float: left;
}

/* line 83, ../sass/_variables.scss */
figure.effect-zoe figcaption > span {
  float: right;
}

/* line 87, ../sass/_variables.scss */
figure.effect-zoe p {
  left: 5em;
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 102, ../sass/_variables.scss */
figure.effect-zoe h2,
figure.effect-zoe figcaption > span {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

/* line 109, ../sass/_variables.scss */
figure.effect-zoe figcaption > span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 118, ../sass/_variables.scss */
.icon-eye::before {
  content: '\e000';
}

/* line 122, ../sass/_variables.scss */
.icon-paper-clip::before {
  content: '\e001';
}

/* line 126, ../sass/_variables.scss */
.icon-heart::before {
  content: '\e024';
}

/* line 130, ../sass/_variables.scss */
figure.effect-zoe h2 {
  display: inline-block;
}

/* line 134, ../sass/_variables.scss */
figure.effect-zoe:hover p {
  opacity: 1;
}

/* line 140, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 145, ../sass/_variables.scss */
figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 150, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 155, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 160, ../sass/_variables.scss */
figure.effect-zoe:hover figcaption > span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 1, ../sass/_general.scss */
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}
/* line 9, ../sass/_general.scss */
body h2 {
  font-size: 1.75em;
}
/* line 13, ../sass/_general.scss */
body h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 22, ../sass/_general.scss */
body a, body a:visited {
  color: #14a8a6;
}
/* line 26, ../sass/_general.scss */
body a:hover {
  color: #14a8a6;
  text-decoration: underline;
}

/* line 34, ../sass/_general.scss */
section.posts-and-links {
  padding: 30px 0;
}
/* line 38, ../sass/_general.scss */
section.posts-and-links .links-blk img {
  width: 100%;
}

/* line 45, ../sass/_general.scss */
section.video-slider {
  padding: 30px 0;
  background: #f0f0f0;
}

/* line 51, ../sass/_general.scss */
section.quote {
  background: white;
  padding: 40px 0;
  font-size: 1.3em;
  color: #444444;
  font-weight: 100;
}
/* line 59, ../sass/_general.scss */
section.quote .desc {
  margin-top: 30px;
}
/* line 63, ../sass/_general.scss */
section.quote .rounded-radius {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/* line 69, ../sass/_general.scss */
section.quote blockquote {
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;
}

/* line 76, ../sass/_general.scss */
section.apply {
  background: url("/wp-content/themes/road2argentina-child/img/image-applynow.jpg") no-repeat scroll center center transparent;
  height: 404px;
}
/* line 81, ../sass/_general.scss */
section.apply .apply-container {
  position: relative;
  top: 175px;
}
/* line 85, ../sass/_general.scss */
section.apply .apply-container h2 {
  color: white;
  display: inline-block;
}
/* line 90, ../sass/_general.scss */
section.apply .apply-container a {
  display: inline-block;
  margin-left: 20px;
}

/* line 99, ../sass/_general.scss */
section.sponsors {
  background: white;
  padding: 50px 0;
  text-align: center;
}
/* line 104, ../sass/_general.scss */
section.sponsors p {
  color: #01325d;
  margin-top: 20px;
}
/* line 109, ../sass/_general.scss */
section.sponsors .img-container {
  min-height: 105px;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #004e92;
  color: white;
  padding: 30px 0;
}
/* line 6, ../sass/_footer.scss */
footer p {
  line-height: 22px;
  margin-bottom: 10px;
}
/* line 11, ../sass/_footer.scss */
footer h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 18, ../sass/_footer.scss */
footer ul li a {
  margin-bottom: 8px;
  display: block;
}
/* line 27, ../sass/_footer.scss */
footer ul.social li a {
  display: inline-block;
  padding: 0 10px 0 0;
}
/* line 35, ../sass/_footer.scss */
footer .wpcf7-form input, footer .wpcf7-form textarea {
  background: #01325d;
  border: medium none;
  padding: 8px 10px;
  width: 100%;
}
/* line 42, ../sass/_footer.scss */
footer .wpcf7-form textarea {
  height: 100px;
}
/* line 46, ../sass/_footer.scss */
footer .wpcf7-form input[type="submit"] {
  width: auto;
  background: #14a8a6;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 57, ../sass/_footer.scss */
section.sub-footer {
  background: #01325d;
  color: white;
  padding: 15px 0;
}
